body{
    background-image: url(img/BarImage.jpg);
    background-size: 100%;
    background-repeat: none;
    overflow: hidden;
}

.logo{
    position: absolute;
    top: -3%;
    left: 1%;
}

.header{
    text-align: center;
    color: white;
    margin-top: -5px;
}
td{
    background-color: rgba(255, 255, 255, 0.4);
    
}

td:hover
{
    background-color: rgba(255, 255, 255, 0.5);
    transition: 1ms;
}

.main-table{
    width: 70%;
    height: 820px;
    vertical-align: middle;
    position: relative;
    bottom: 80px;
}

.images{
    position: relative;
    left: 17%;
    top: 8%;
    border: 1px solid black;
}

.select{
    display: flex;
    position: relative;
    left: 38%;

}

.food{
    font-family: 'Hind Vadodara', sans-serif; 
    font-weight: 1000;
    margin-bottom: -25px;
    font-size: 23px;
    position: relative;
    left: 30%;
}

.prize{
    font-family: 'Hind Vadodara', sans-serif; 
    font-weight: 1000;
    position: relative;
    left: 40%;
    margin-bottom: -5px;
}

button{
    background-color: transparent;
    border: none;
    font-weight: 1000;
    height: 30px;
    position: relative;
    top: 17px;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
