body{
    background-image: url(img/BarImage.jpg);
    background-size: 100%;
    background-repeat: none;
    overflow: hidden;
}

.logo{
    position: absolute;
    top: -3%;
    left: 1%;
}

.header{
    text-align: center;
    color: white;
    margin-top: -5px;
}
td{
    background-color: rgba(255, 255, 255, 0.4);
    
}

td:hover
{
    background-color: rgba(255, 255, 255, 0.5);
    transition: 1ms;
}

.main-table{
    width: 70%;
    height: 820px;
    vertical-align: middle;
    position: relative;
    bottom: 80px;
}

.images{
    position: relative;
    object-fit: cover;
    height: 120px;
    width: 150px;
    left: 23%;
    top: 8%;
    border: 1px solid black;
}

.select{
    display: flex;
    position: relative;
    left: 38%;

}

.food{
    font-family: 'Hind Vadodara', sans-serif; 
    font-weight: 1000;
    margin-bottom: -25px;
    font-size: 23px;
    position: relative;
    left: 30%;
}

.prize{
    font-family: 'Hind Vadodara', sans-serif; 
    font-weight: 1000;
    position: relative;
    left: 40%;
    margin-bottom: -5px;
}


.btn {
    background-color: transparent;
    border: none;
    font-weight: 1000;
    height: 30px;
    position: relative;
    top: 17px;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.LeftArrow
{
    position:absolute;
    fill: white;
    rotate: 180deg;
    width: 50px;
    top: 50%;
    padding: 3px;
}

.RightArrow
{
    position:absolute;
    right: 2%;
    width: 50px;
    top:50%;
    padding: 3px;
}

.LeftArrow:hover,
.RightArrow:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.2s;
}

.focacciaSalame{
    font-family: 'Hind Vadodara', sans-serif; 
    font-weight: 1000;
    margin-bottom: -25px;
    font-size: 23px;
    position: relative;
    left: 17%;
}

.conferma{
    position: absolute;
    right: 3%;
    top: 94%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: none;
    height: 30px;
    width: 170px;
    font-family: 'Hind Vadodara', sans-serif; 

}

.conferma:hover{
    background-color: rgb(189, 189, 189);
}

.cover{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
}

.popUp{
    position:absolute;
    background-color: white;
    top: 30%;
    left: 30%;
    height: 40%;
    width: 40%;
    text-align: center;
    visibility: hidden;
}

.popUptext, 
.prezzoTotale{
    font-family: 'Hind Vadodara', sans-serif; 
    position: relative;
    top: 13%;

}

.homeButton{
    background-color: rgb(187, 187, 255);
    border: none;
    border-radius: 16px;
    height: 40px;
    width: 160px;
    position: relative;
    top: 25%;
    left: 25%;
}

.homeButton:hover{
    background-color: rgb(167, 167, 242);
}

.second-table{
    width: 70%;
    height: 820px;
    vertical-align: middle;
    position: absolute;
    top: 0px;
    left: 14.8%;
    top: 0.2%;
    visibility: hidden;
}

.longTxt{
    font-family: 'Hind Vadodara', sans-serif; 
    font-weight: 1000;
    margin-bottom: -25px;
    font-size: 23px;
    position: relative;
    left: 6%;
}